*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, black, rgb(54, 53, 53));
    color: white;
}
nav{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    justify-content: space-between;
}
.mainheader{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 100px; */
    justify-content: space-between;
    margin: 10px 0px;
}
.name{
    font-size: 30px;
    font-weight: 400;
}
.searchbox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 80px; */
}
.destinationbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-right: 160px;
}
.searchfrom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12px;

}
.searchfrom input{
     padding: 10px 15px;
    padding-right: 50px;
    /* margin: 20px 0px; */
    outline: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    border: none; 
}
.searchfrom img{
    position: relative;
    background-color: orange;
    left: -35px;
    padding: 2px 5px;
    cursor: pointer;
}
.searchto{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-top: 12px;
}
.searchto input{
     padding: 10px 15px;
    padding-right: 50px;
    /* margin: 20px 0px; */
    outline: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    border: none; 
}
.searchto img{
     position: relative;
    background-color: orange;
    left: -40px;
    top: 0.5px;
    padding: 7px 8px;
    cursor: pointer;
    /* border-radius: 5px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color:orange;
    cursor: pointer;
    margin-top: 5px;
}

.search input{
    padding: 10px 15px;
    padding-right: 50px;
    /* margin: 20px 0px; */
    outline: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    border: none;
}
.search img{
    position: relative;
    background-color: orange;
    left: -44px;
    top: 14px;
    padding: 7px 8px;
    cursor: pointer;
    /* border-radius: 5px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
iframe{
    margin: 40px 150px;
}
.sharebutton{
    margin-top: 7px;
}
#sharebtn{
    font-size: 17px;
}


@media screen and (max-width:500px) {
   /* .mainheader,.searchbox,.destinationbox,.searchfrom,.searchto{
    display: block;
   } */
    /* #searchbuttondestination{
        position: relative;
        left: 220px;
    } */
     .searchbox{
        gap: 20px;
        width: 100%;
     }
     .searchfrom input, .searchto input,.search input{
        padding-right: 155px;
     }
     .searchto img{
        left: -40px;
        top: 0px;
     }
     .search img{
        padding: 7.4px 8px;
     }
     iframe{
        margin: 40px 41px;
     }
     .search img{
        left: 325px;
        top: -39px;
       
     }
    
}

@media (min-width : 700px) and (max-width : 880px){
    .mainheader,.searchbox{
    display: block;
    } 
    .destinationbox,.searchfrom,.searchto{
        display: flex;
    }
    
    iframe{
        margin: 80px;
    }
    .name{
        font-size: 20px;
        
    }
}